<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.langpush">

    <!-- HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限 | HMS-SDK upgrade HMS Feature, access to OTA server requires network privileges -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限 | HMS-SDK upgrade HMS Feature, save downloaded upgrade pack requires SD card Write permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 检测网络状态 | Detecting Network status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 检测wifi状态 | Detecting WiFi status -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识设备。 | Gets the IMEI of the user's phone, used to uniquely identify the device. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--<application-->
        <!--android:allowBackup="true"-->
        <!--android:icon="@mipmap/ic_launcher"-->
        <!--android:label="@string/app_name"-->
        <!--android:roundIcon="@mipmap/ic_launcher_round"-->
        <!--android:supportsRtl="true"-->
        <!--android:theme="@style/AppTheme">-->
        <!--<activity android:name=".MainActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--<data-->
                    <!--android:scheme="langpush" />-->
                <!--&lt;!&ndash; <a href="[scheme]://[host]/[path]?[query]">启动应用程序</a> &ndash;&gt;-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--&lt;!&ndash;-->
             <!--接入HMSSDK 需要注册的appid参数。value的值中“100513427”用实际申请的appid替换，来源于开发者联盟网站应用的权益详情。-->
            <!--格式 android:value="appid=xxxxxx"-->
            <!--Access HMSSDK need to register AppID parameters. Value "100513427" is replaced with the actual application APPID, derived from the Developer affiliate website application.-->
            <!--Format android:value= "appid=xxxxxx"-->
        <!--&ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="com.huawei.hms.client.appid"-->
            <!--android:value="appid=100513427" />-->

        <!--&lt;!&ndash;-->
             <!--接入HMSSDK 需要注册的provider，authorities 一定不能与其他应用一样，所以这边 com.example.test.langpush 要替换上您应用的包名-->
            <!--Access HMSSDK need to register provider,authorities must not be the same as other applications, so this side ${package_name} to replace the package name you applied-->
        <!--&ndash;&gt;-->
        <!--<provider-->
            <!--android:name="com.huawei.hms.update.provider.UpdateProvider"-->
            <!--android:authorities="com.example.test.langpush.hms.update.provider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true" />-->

        <!--&lt;!&ndash;-->
             <!--接入HMSSDK 需要注册的provider，authorities 一定不能与其他应用一样，所以这边 com.example.test.langpush 要替换上您应用的包名-->
            <!--Access HMSSDK need to register provider,authorities must not be the same as other applications, so this side ${package_name} to replace the package name you applied-->
        <!--&ndash;&gt;-->
        <!--<provider-->
            <!--android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider"-->
            <!--android:authorities="com.example.test.langpush.updateSdk.fileProvider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true"></provider>-->

        <!--&lt;!&ndash; <activity android:name=".OpendeviceActivity"/> &ndash;&gt;-->


        <!--&lt;!&ndash; 使用 HMSAgent 代码接入HMSSDK 需要注册的activity | Use hmsagent code to access HMSSDK activity that requires registration &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.huawei.android.hms.agent.common.HMSAgentActivity"-->
            <!--android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"-->
            <!--android:excludeFromRecents="true"-->
            <!--android:exported="false"-->
            <!--android:hardwareAccelerated="true"-->
            <!--android:theme="@android:style/Theme.Translucent">-->
            <!--<meta-data-->
                <!--android:name="hwc-theme"-->
                <!--android:value="androidhwext:style/Theme.Emui.Translucent" />-->
        <!--</activity>-->

        <!--&lt;!&ndash; 接入HMSSDK 需要注册的activity | Access HMSSDK activity to be registered &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.huawei.hms.activity.BridgeActivity"-->
            <!--android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"-->
            <!--android:excludeFromRecents="true"-->
            <!--android:exported="false"-->
            <!--android:hardwareAccelerated="true"-->
            <!--android:theme="@android:style/Theme.Translucent">-->
            <!--<meta-data-->
                <!--android:name="hwc-theme"-->
                <!--android:value="androidhwext:style/Theme.Emui.Translucent" />-->
        <!--</activity>-->

        <!--&lt;!&ndash; 接入HMSSDK 需要注册的activity | Access HMSSDK activity to be registered &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.huawei.updatesdk.service.otaupdate.AppUpdateActivity"-->
            <!--android:configChanges="orientation|screenSize"-->
            <!--android:exported="false"-->
            <!--android:theme="@style/upsdkDlDialog">-->
            <!--<meta-data-->
                <!--android:name="hwc-theme"-->
                <!--android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar" />-->
        <!--</activity>-->

        <!--&lt;!&ndash; 接入HMSSDK 需要注册的activity | Access HMSSDK activity to be registered &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.huawei.updatesdk.support.pm.PackageInstallerActivity"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:exported="false"-->
            <!--android:theme="@style/upsdkDlDialog">-->
            <!--<meta-data-->
                <!--android:name="hwc-theme"-->
                <!--android:value="androidhwext:style/Theme.Emui.Translucent" />-->
        <!--</activity>-->

        <!--&lt;!&ndash;-->
             <!--接入HMSSDK PUSH模块需要注册，第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播，-->
                <!--此receiver类需要开发者自己创建并继承com.huawei.hms.support.api.push.PushReceiver类，-->
                <!--参考示例代码中的类：com.huawei.hmsagent.HuaweiPushRevicer-->
            <!--Access to the HMSSDK push module requires registration:-->
	            <!--Receive push message (registration, push message, push connection state) broadcast.-->
	            <!--This receiver class requires the developer to create and inherit the com.huawei.hms.support.api.push.PushReceiver class.-->
	            <!--Reference to class in sample code: Com.huawei.hmsagent.HuaweiPushRevicer-->
        <!--&ndash;&gt;-->
        <!--<receiver android:name=".HUAWEIPushRevicer">-->
            <!--<intent-filter>-->

                <!--&lt;!&ndash; 必须,用于接收token | Must， for receiving token &ndash;&gt;-->
                <!--<action android:name="com.huawei.android.push.intent.REGISTRATION" />-->
                <!--&lt;!&ndash; 必须，用于接收消息 | Must， used to receive messages &ndash;&gt;-->
                <!--<action android:name="com.huawei.android.push.intent.RECEIVE" />-->
                <!--&lt;!&ndash; 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 | Optional, click the button on the notification bar or the notification bar to trigger the onevent callback &ndash;&gt;-->
                <!--<action android:name="com.huawei.android.push.intent.CLICK" />-->
                <!--&lt;!&ndash; 可选，查看push通道是否连接，不查看则不需要 | Optional, query whether the push channel is connected or not &ndash;&gt;-->
                <!--<action android:name="com.huawei.intent.action.PUSH_STATE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 接入HMSSDK PUSH模块需要注册 :接收通道发来的通知栏消息 | The access HMSSDK push module needs to be registered: the notification bar message sent from the receiving channel &ndash;&gt;-->
        <!--<receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.huawei.intent.action.PUSH" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 接入HMSSDK 需要注册的应用下载服务 | Access HMSSDK need to register app download service &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.huawei.updatesdk.service.deamon.download.DownloadService"-->
            <!--android:exported="false" />-->

        <!--<activity-->
            <!--android:name=".Main2Activity"-->
            <!--android:label="@string/title_activity_main2"-->
            <!--android:theme="@style/AppTheme.NoActionBar"></activity>-->
    <!--</application>-->

</manifest>